.App {
  text-align: center;
  background-image: url('https://i.pinimg.com/564x/54/0e/1b/540e1b9b20e16d1fca8ebfe0eb4a6b95.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}




