.weather-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    min-width: 200px;
    min-height: 250px;
  }
  
  .weather-card:hover {
    background-color: #333;
  }
  
  .weather-card.expanded {
    width: 100%;
    border: 2px solid #000;
  }
  
  .weather-card.expanded p {
    margin: 5px 0;
  }
  
  .weather-card img {
    width: 50px;
    height: 50px;
  }
  
  .weather-card .icon {
    width: 65;
    color: red;
  }  
  .spacing{
    justify-content: space-evenly;
  }
  /* Adjust other styles as needed based on your design requirements */
  